<% include head %>
<% include title %>
		<div id="container">
			<h1><a href="/u/<%= userpage %>"><%= userpage %></a></h1>
			<a href="/u/<%= userpage %>"><div class="gif" id="<%= gifview %>" style=""><img src="/user/<%= userpage %>/a/<%= gifview %>.gif"></div></a>
			<p><a href="/u/<%= userpage %>">ALL GIFS</a></p>
		</div>
	</body>
</html>