<% include head %>

	<script>
		var isOwner     = "<%- isOwner %>";
	</script>

<% include title %>
		<div id="container">
			<h1><a href="/u/<%= userpage %>"><%= userpage %></a></h1>
			<div class="gif" id="<%= gifview %>" style="">
				<a href="/u/<%= userpage %>">
					<video width='300' height='300' loop webkit-playsinline><source src="/user/<%= userpage %>/a/<%= gifview %>.mp4" type='video/mp4'></video>
				</a>
				<% if(!isOwner){%>
					<a id="reblog" href="/reblog?gif=<%= gifview %>">
						<div class='gifButton'>Reblog Gif</div>
					</a>
				<% } %>
			</div>
			<p><a href="/u/<%= userpage %>">all clips uploaded by <%= userpage %></a></p>
		</div>
	</body>
	<script type="text/javascript">
		$('video').hover(function(){
        	this.play();
    	},function(){
    	    this.pause()
    	});
	</script>
</html>