<% include head %>
	<script>
		var gifs = [<%- gifs %>];
		var username = "<%- userpage %>";
	</script>
	<script src="/javascripts/squares.js"></script>
	<script src="/javascripts/user.js"></script>	
<% include title %>
		<div id="container">
			<% if (!verified) { %> <button id="verify" onclick="verifyemail( <%- email %> , <%- vericode %> )">Click here to verify email.</button> <% } %>
			<h1><%= userpage %></h1>
		</div>
	</body>
</html>