<% include head %>

	<script>
		var gifs = [<%- gifs %>];
		var userpage = "<%- userpage %>";
	var isOwner = "<%- isOwner %>";
	var pendingGifs = [];
	if( isOwner ) {
		pendingGifs = [<%- pendingGifs %>];
	}	
	</script>

	<script type="text/javascript" src="/javascripts/gifffer.js"></script>

	<% if(isOwner) { %>
	  <link rel="stylesheet" href="/stylesheets/user.css">
		<script type="text/javascript" src="/javascripts/upload.js"></script>
	  <script type="text/javascript" src="/javascripts/pending.js"></script>
	<% } else {%>
		<script type="text/javascript" src="/javascripts/squares.js"></script>
	<% } %>

<% include title %>

		<div id="container">
			<h1><% if(isOwner){%>Hi, <%}%><%= userpage %></h1>
            <a href="/logout"><span>Log Out</span></a>
			<% if (message.length > 0) { %>
			   	<div class="message"><%= message %></div> 
            <% } %>
		</div>

		<% if(isOwner) { %>
			
			<div id="upload_container">
                <% if(user.verified) { %>

                    <form id="upForm" action="/" method="post">
	   				    <input id="upFile" name="upFile" type="file">
	   				    <input id="upButton" value="Upload File" type="button">
                    </form>
	
                    <div class="progress">
                    	<div class="bar" style="width: 0%"></div>
                    </div>
	
                    <div id ="upMessage" class="message"></div>

                <% } else { %>

                    <a href="/send?to=<%- user.email %>&code=<%- user.vericode %>"><div class="message">Verify email to upload videos.</div></a>

                <% } %>
	   		</div>

	   		<% if( pendingGifs.length > 0 ) { %>
              <div id="pending_container">
                	<h1>Pending Gifs</h1>
                	<h2>Select gifs to post publicly</h2>
                </div>
			<% } %>

		<% } %>	
			
		<div id="user_container">
			<% if( isOwner ) { %>
					<h1>Public Clips</h1>
		   	<% } %>
		</div>

	</body>
</html>